/*CSS - Nova © 2024*/
/*ICONS - Flaticon*/

.titulo-1 {
    margin-top: 150px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-shadow: 0 0 20px #378bd0;
}

.titulo-2 {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    text-shadow: 0 0 20px #378bd0;
}

.txt {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 50px;
}

/*Titulo-card*/
.txt-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-shadow: 0 0 20px #378bd0;
    color: white;
}

/*Precio-card*/
.txt-precio {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-shadow: 0 0 20px #378bd0;
    color: white;
}

.img-o {
    width: 200px;
    margin-left: 609px; 
    margin-top: 280px; 
    position: absolute;
}

@media (max-width: 1300px) {
    .img-o-2 {
        width: 100%;
    }

    .img-o {
        width: 180px;
        margin-left: 530px; 
        margin-top: 250px; 
        position: absolute;
    }
}

/*Estructura-principal*/
.div-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Estructura-card*/
.section-card {
    width: 330px;
    height: 350px;
    margin-top: 60px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #181717;
    box-shadow: 0 20px 50px 0 #414141;
}

/*Custom-space*/
.space-custom {
    margin-left: 100px;
}


/*Imagen-card*/
.imagen {
    width: 170px;
    margin-top: 30px;
}

/*Boton-card*/
.button-card {
    width: 100%;
    padding: 6px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #ffffff;
    color: #000000;
    font-size: 13px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.button-card:hover {
    background-color: #000000;
    color: white;
    box-shadow: 0 0 30px #378bd0;
    transition: all 1s;
}

/*Estructura-stats*/
.stats {
    width: 100%;
    text-align: center;
    display: none;
}

#despleg_menu:checked ~ .stats {
    display: block;
}

/*txt-stats*/
.txt-stats {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background-color: #ffffff;
    box-shadow: 0 0 80px 0 #414141;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 40%;
    margin-right: 40%;
    padding: 10px;
}

#despleg_menu {
    display: none;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.icon-stat {
    width: 30px;
    margin-bottom: 20px;
}

.sub-txt-stat {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}